<!-- _includes/footer.html -->

{% if site.footer_fixed %}
  <footer class="fixed-bottom">
{% else %}
  <footer class="sticky-bottom mt-5">
{% endif %}
    <div class="container {% if site.footer_fixed %}mt-0{% endif %} text-center d-flex justify-content-center">
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
      {{ site.footer_text }}
      {% if site.last_updated %}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
